<div id="main-nav" class="row">
  <div id="title-logo" class="item">
    <div class="logo"><a href="https://www.publicsource.org/" target="_blank"><img src="https://ps-apps-assets.s3.amazonaws.com/power-of-place/logo.png" alt="logo"></a></div>
    <div class="title"><a href="http://apps.publicsource.org/screen-test/">Screen test</a></div>
  </div>

  <div id="main-nav-links" class="item">
    <span><a style="color: #ffffff" href="#stories">STORIES</a></span>
    <span class="mobile-no-show" style="color: white;" >·</span>
    <span><a style="color: #ffffff" href="#about">ABOUT THIS SERIES</a></span>
    <!-- <span class="mobile-no-show" style="color: white;" >·</span> -->
    <!-- <span><a style="color: #ffffff" href="part-three.html">PART 3</a></span>
    <span class="mobile-no-show" style="color: white;" >·</span>
    <span><a style="cursor: not-allowed; opacity: .35;">PART 4</a></span> -->
    <!-- <span class="mobile-no-show" style="color: white;" >·</span> -->
    <!-- <span><a style="color: #fb6927; font-weight: 600;" href="https://www.publicsource.org/donate-to-publicsource/">DONATE</a></span> -->
  </div>
  <div id="nav-burger"><i class="fal fa-bars"></i></div>
</div>
