<div class="lead-wrapper">
  <div class="lead-headline">
    <div class="headline-text">
      <h1>Unmasked: Candid reflections on a warped year of COVID school in the Pittsburgh area</h1>
      <p class="date">March 22, 2021</p>
    </div>
  </div>
  <div class="lead-photo animate__animated animate__fadeIn animate__slower">
    <img alt="#" src="https://ps-apps-assets.s3.amazonaws.com/screen-test-2021/reflections-lead/reflections-lead.jpg" />
  </div>
</div>

<div class="lead-wrapper-mobile">
  <div class="lead-headline-mobile">
    <div class="headline-text-mobile">
      <h1>Unmasked: Candid reflections on a warped year of COVID school in the Pittsburgh area</h1>
      <p class="date-mobile">March 22, 2021</p>
    </div>
  </div>
  <div class="lead-photo-mobile animate__animated animate__fadeIn animate__slower">
    <img alt="#" src="https://ps-apps-assets.s3.amazonaws.com/screen-test-2021/reflections-lead/reflections-lead-mobile.jpg" />
  </div>
</div>
