.u-container-text {
    font-family: @crimson;
    font-size: 22.5px;
    max-width: 800px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    @media @mobile {
      font-size: 20px;
      margin-top: 1.5em;
      margin-left: 20px;
      margin-right: 20px;
    }
}

.u-container-text h2 {
  text-align: center;
  font-family: @mono;
  font-weight: 700;
  font-size: 1.2em;
  border-bottom: 1px dashed black;
  display: inline-block;
  // text-transform: uppercase;
}

.u-container-text h3 {
  font-family: @mallory;
  font-weight: 700;
  font-size: 1.4em;
  padding: 4px;
  margin: 1em 0 1em 0;
  @media @mobile {
    font-size: 1.2em;
  }
}

.u-container-text a {
  color: #418cff !important;
  text-decoration: none;
}

// Photos

.hero-image img {
  width: 100%;
  padding-top: 3em;
  @media @mobile {
    padding-top: .5em;
  }
}

.inline-img {
  width: 100%;
  max-width: 1000px;
  padding-top: 1em;
  @background-color: @brand-grey;
  @media @mobile {
    width: 100%    !important;
    }
  }


.caption {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: .5em;
  font-family: @serif;
  color: grey;
  @media @mobile {
    padding-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.caption p {
  font-family: @serif;
  font-size: 16px;
  color: grey;
  @media @mobile {
  font-size: 12px;
  }
}

.cta-box {
  background-color: @justice-beige;
  color: black;
  padding: 10px;
}

.bug-img {
  float: left;
  padding: 8px 20px 10px 0;
  max-width: 252px;
  @media @mobile {
    max-width: 170px;
  }
}
